*{
  margin: 0;
  padding: 0;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mobile-nav-bar{
  display: none;
  margin-right: 30px
}
#nav-div > span{
	height:3px;
	width: 25px;
  /*background-color: plum;*/
  background-size: cover;
	margin: 5px 0px;
	display: block;
} 
#nav-links{
  top: 20vh;
  right: -50vw;
  position: fixed;
	background-color: white;
	width: 140px;
  transition: all 600ms;
	height: auto;
}
#nav-links.active{
	right: 5px;
} 
#nav-links > ul{
	list-style-type: none;
	padding: 0px 5px;
	text-align: center;
}
#nav-links a{
  text-decoration: none !important;
}
#nav-links > ul > li{
	display: block;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 100%;
	margin: 5px 0px;
	background-color: plum;
	font-family: Arial, Helvetica, sans-serif;
}

.banner{
  background-color: plum;
  width: 100%;
  height: 100vh;
}
.nav-bar {
  margin: 10px 0px 25px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav-bar >div>img{
  height: 30px;
  width: 40px;
}
.nav-bar >div:nth-child(1){
  margin-left: 30px;
}
.nav-bar a {
  text-decoration: none !important;
}
.nav-bar >ul{
  list-style-type: none;
  margin-right: 50px;
}
.nav-bar >ul>li{
  display: inline-block;
  margin: auto 5px;
  border-bottom: 2px solid white;
  transition: border-bottom-color 500ms ease-out;
}
.nav-bar >ul>li:hover{
  border-bottom-color: plum;
}
.grid-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 5px;
  grid-auto-flow: dense;
  margin: auto 10px;
}
.rnd-edges{
  border: 2px solid whitesmoke;
  border-radius: 15px;
  margin: 10px 0px;
}
.header{
  grid-column: 1 / -1;
  padding: 20px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: plum;
  font-size: 30px;
  text-align: center;
}
.main{
  grid-column: 1 / -3;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main>div:nth-child(2){
  padding: 0px 40px !important;
}
.main >div>h4{
  font-size: 15px !important;
}
.site-deets {
  display: flex;
  height: 6vh;
  flex-flow: row nowrap;
  margin: 0px 30px;
  justify-content: space-between;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: purple;
}
.sidebar{
  grid-column: -3/ -1;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
  grid-column: 1 / -1;
  background-color: gray;
}
.footer img{
  height: 15px;
  width: 20px;
}
.footer > div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px;
}
.footer > div:nth-child(3) ul {
  list-style-type: none;
}
.footer > div:nth-child(3) ul>li {
  display: inline-block;
  color: whitesmoke;
  font-family: fantasy;
  margin: auto 3px;
}
.footer > div:nth-child(3)>p {
  font-family: fantasy;
  color: whitesmoke;
}
.footer >div >div:nth-child(2)>button {
  color: white;
  background-color: coral;
  border: 1px solid coral;
}

/*@media(max-width: ){
  .sidebar{
    grid-column: -3 / 3;
  }
}*/

@media(max-width: 770px){
  #mobile-nav-bar{display: block;}
  #nav-bar{display: none;}
  .main {
    grid-column: 1 / -1;
  }
  .sidebar {
    grid-column: -3 / 3;
  }
}